{{!-- navbar start --}}
<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="#">Company Directory</a>
        </div>
        <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav navbar-right">
	          <li>
	          	<a class="logout" href="/logout">Logout</a>
	          </li>
          </ul>
        </div>
    </div>
</nav>
{{!-- navbar end --}}

<div class="container">
  
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      
        <fieldset>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button type="submit"  id="add-employee-button" class="btn btn-lg btn-primary btn-block" >Add Employee</button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button type="submit"  id="find-employee-button" class="btn btn-lg btn-success btn-block" >Find Employee</button>
                </div>
            </div> 
		      <hr class="colorgraph">
        </fieldset>

    {{!-- find-employee --}}
     {{>find-employee-form}}    

    {{!-- add-employee --}}
     {{>add-employee-form}} 

    {{!-- edit form --}}
     {{>edit-form}}   
 
    </div>
  </div>

  {{!-- Result table start --}}
   <div class="row" >
    <div class="col">
      <div class="table-wrapper-scroll-y results-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>   
            <tr>
              <th>ID</th>
              <th>Employee</th>
              
              <th>Edit/Delete</th>       
            </tr>
          </thead>
          <tbody>
            {{#each personnel}}

            <tr>
              <td>{{this.id}}</td>
              <td> {{this.firstName}} {{this.lastName}}, {{this.jobTitle}} </td>
              <td>
                <button type="submit" id="edit" class="btn btn-success btn-block edit" employee="{{this.id}}" >Edit</button>
                </br>
              <form class="delete-form" action="/delete-employee/{{this.id}}" method="post">
                <button type="submit" class="btn btn-primary btn-block" name="btn" >Delete</button>
              </form>
              {{>delete-confirmation}}  
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
  {{!-- Result table end --}}
      </div>
    </div>
  </div>
    <hr class="colorgraph"> 

{{!-- container div end --}}
</div>