<div class="container">
  
  <table class="table table-striped">
    <thead>
        <!-- id`, `firstName`, `lastName`, `jobTitle`, `email`, `departmentID` -->      
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Job Title</th>
        <th>Department ID</th>
      
      </tr>
    </thead>
    <tbody>
      {{#each personnel}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.jobTitle}}</td>
        <td>{{this.departmentID}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>